@use 'variables' as *;

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $font-family;
  background: $background;
}

.app-header {
  background: $primary-color;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.app-main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.app-footer {
  text-align: center;
  font-size: 0.9rem;
}
